@page
@model AccountManagementSystem.Pages.ChartOfAccounts.CreateModel
@{
}

<h1 class="text-center mb-3">Create Account</h1>
<form method="post">

	<div class="row g-2 mb-3">
		<div calss="col-lg-6">
			<div class="card h-100">
				<div class="card-header">
					Input Details
				</div>
				<div class="card-body">
					<div class="row mb-3">
						<label calss="col-sm-4 col-form-label">Account Name</label>
						<div class="col-sm-8">
							<input asp-for="accountDto.Name" class="form-control" />
							<span asp-validation-for="accountDto.Name" class="text-danger"></span>
						</div>
					</div>
					<div class="row mb-3">
						<label calss="col-sm-4 col-form-label">Email</label>
						<div class="col-sm-8">
							<input asp-for="accountDto.Email" class="form-control" />
							<span asp-validation-for="accountDto.Email" class="text-danger"></span>
						</div>
					</div>
					<div class="row mb-3">
						<label calss="col-sm-4 col-form-label">Phone Number</label>
						<div class="col-sm-8">
							<input asp-for="accountDto.PhoneNumber" class="form-control" />
							<span asp-validation-for="accountDto.PhoneNumber" class="text-danger"></span>
						</div>
					</div> 
					<div class="row mb-3">
						<label calss="col-sm-4 col-form-label">Parent Account</label>
						<div class="col-sm-8">
							<input asp-for="accountDto.ParentId" class="form-control" />
							<span asp-validation-for="accountDto.ParentId" class="text-danger"></span>
						</div>
					</div> 
					<div class="row mb-3">
						<label calss="col-sm-4 col-form-label">Account Status</label>
						<div class="col-sm-8">
							<select asp-for="accountDto.IsActive" class="form-select">
								<option value="true">Active</option>
								<option value="false">Inactive</option>
							</select>
							<span asp-validation-for="accountDto.IsActive" class="text-danger"></span>
						</div>
					</div>
					<div class="row mb-3">
						<label calss="col-sm-4 col-form-label">Created By</label>
						<div class="col-sm-8">
							<input asp-for="accountDto.CreatedBy" class="form-control" />
							<span asp-validation-for="accountDto.CreatedBy" class="text-danger"></span>
						</div>
					</div>  

				</div>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary me-2">Submit</button>
	<a class="btn btn-outline-primary" asp-page="/ChartOfAccounts/Index" role="button">Cancel</a>
	
</form>
